.container {
    border: 1px solid silver;
    border-radius: 10px;
    width: 75%;
    margin: auto;
    padding: 1% 1% 1% 5%;
}

h2 {
    text-align: center;
    font-size: 30pt;
    color: gray;
}

h3 {
    font-size: 1.2em;
    display: inline-block;
    margin-right: 40%;
}
.more {
    text-decoration: none;
    color: #308c83;
    font-size: 13pt;
}